{% extends "emails/base.html" %}

{% block title %}Demande d'inscription refusee{% endblock %}

{% block content %}
<h2>Demande d'inscription refusee</h2>

<p>Bonjour,</p>

<p>
    Nous sommes au regret de vous informer que votre demande d'inscription
    a l'Outil Plan de Gestion n'a pas ete approuvee.
</p>

{% if reason %}
<div class="warning-box">
    <strong>Motif du refus :</strong><br>
    {{ reason }}
</div>
{% endif %}

<p>
    Si vous pensez qu'il s'agit d'une erreur ou si vous souhaitez
    obtenir plus d'informations, veuillez contacter l'administrateur
    de votre organisme.
</p>

<p>
    Vous pouvez egalement soumettre une nouvelle demande d'inscription
    si necessaire.
</p>

<p style="text-align: center;">
    <a href="{{ register_url }}" class="button">
        Nouvelle inscription
    </a>
</p>
{% endblock %}
