{% extends "emails/base.html" %}

{% block title %}Demande d'inscription en attente{% endblock %}

{% block content %}
<h2>Demande d'inscription recue</h2>

<p>Bonjour {{ nom_complet }},</p>

<p>Nous avons bien recu votre demande d'inscription a l'Outil Plan de Gestion.</p>

<div class="info-box">
    <strong>Votre demande est en attente de validation.</strong><br>
    Un administrateur va examiner votre demande et vous serez notifie par email
    lorsque celle-ci sera traitee.
</div>

<p>
    En attendant, vous pouvez verifier le statut de votre demande a tout moment
    en vous rendant sur la page de connexion.
</p>

<p>
    Si vous n'avez pas effectue cette demande, vous pouvez ignorer cet email.
</p>
{% endblock %}
