<div class="section-title-wrapper">
  <div class="section-title-left">
    <!-- Forme ellipse avec icône (design Figma) -->
    <div class="title-ellipse-container" [class]="'size-' + size">
      <img
        [src]="getCornerShapePath()"
        [alt]="title"
        class="title-ellipse">
      @if (isCustomIcon) {
        <img
          [src]="customIconPath"
          [alt]="customIconName"
          class="title-icon custom-icon"
          [class.icon-primary]="iconColor === 'primary'">
      } @else {
        <i class="fi title-icon"
           [ngClass]="icon"
           [class.icon-primary]="iconColor === 'primary'"></i>
      }
    </div>
    <h2 class="section-title-text"
        [class.small]="titleSize === 'small'"
        [class.color-terra-cotta]="titleColor === 'terra-cotta'"
        [class.color-salmon]="titleColor === 'salmon'"
        [class.color-yellow]="titleColor === 'yellow'">
      {{ title }}
      @if (tooltip) {
        <i class="fi fi-rr-info help-icon"
           [matTooltip]="tooltip"
           matTooltipPosition="right"></i>
      }
    </h2>
  </div>
  <!-- Actions projetées ou lien -->
  <div class="section-title-right">
    <ng-content select="[sectionActions]"></ng-content>
    @if (linkText) {
      <a
        class="section-title-link"
        [routerLink]="linkUrl"
        [attr.href]="linkUrl ? null : '#'">
        {{ linkText }}
        <i class="fi fi-rr-arrow-right"></i>
      </a>
    }
  </div>
</div>
<!-- Ligne de séparation sous le titre avec couleur -->
@if (showLine) {
  <div class="section-title-line"
       [ngClass]="['line-' + ellipseColor, 'line-size-' + size]"></div>
}
