<footer class="eu-notice" role="contentinfo">
  <img src="assets/images/bloc-marque-ue-life-biodiv.jpg"
       [alt]="'euFunding.logoAlt' | translate"
       class="eu-notice__logo"
       width="975" height="280" />
  <div class="eu-notice__text">
    <p class="eu-notice__disclaimer">{{ 'euFunding.disclaimer' | translate }}</p>
    <p class="eu-notice__project">
      {{ 'euFunding.projectTitle' | translate }}<br />
      {{ 'euFunding.projectDescription' | translate }}
    </p>
  </div>
</footer>
